/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  border-radius: border-box;
}

body {
  background-color: beige;
  width: 1519px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 140px;
  background-color: orange;
}

.div1 img, .div1 p {
  display: inline-block;
  vertical-align: middle;
}
.div1 .div3 {
  border-radius: 50%;
  background-color: orange;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.div1 .div4 {
  border-radius: 50%;
  background-color: orange;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.div1 .div3 {
  margin-left: 900px;
}

.div5 {
  height: 70px;
  width: 1519px;
  background-color: darkred;
  display: inline-block;
}

.list {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.div6 {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding-top: 7px;
  margin-left: 139px;
}

.list1 {
  display: inline-block;
  vertical-align: middle;
}

.logo1 {
  padding-left: 40px;
}

.p1 {
  color: azure;
  font-size: 45px;
  padding-left: 20px;
  font-family: cursive;
}

.cart {
  margin-left: 20px;
}

.background1 {
  width: 100%;
  height: auto;
}

.sec3 {
  margin-left: 100px;
  width: 1303px;
}

.sec1 {
  margin-left: 100px;
  display: inline-block;
  vertical-align: top;
}

.div7 {
  width: 650px;
  margin-top: 10px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid grey;
  margin-bottom: 20px;
}
.div7 h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
.div7 h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.div7 p {
  margin-bottom: 20px;
}
.div7 img {
  display: inline-block;
  vertical-align: top;
}
.div7 .div8 {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
}
.div7 .div8 .div9 {
  display: inline-block;
  vertical-align: middle;
  width: 175px;
  background-color: beige;
  border-radius: 25px;
  border: 2px solid grey;
}
.div7 .div8 .div9 h5 {
  font-size: 30px;
  padding-left: 24px;
}
.div7 .div8 p {
  text-decoration: #A9A9A9;
}

.sec2 {
  display: inline-block;
  vertical-align: top;
}

footer {
  background-color: #242124;
  height: 300px;
  width: 1519px;
}

.div10 {
  padding-left: 50px;
  padding-top: 57px;
}

li {
  color: azure;
}

.div10, .div11, .div12 {
  display: inline-block;
  vertical-align: middle;
}

.div11 {
  padding-top: 20px;
  padding-left: 150px;
}
.div11 li {
  margin-bottom: 10px;
}

.div12 {
  padding-left: 200px;
}
.div12 img {
  display: inline-block;
  vertical-align: middle;
}

.div13 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 400px;
}

a {
  text-decoration: none;
}

.sec4 {
  margin-left: 80px;
  display: inline-block;
  vertical-align: top;
}

.div14 {
  height: 450px;
  width: 400px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 25px;
  border: 2px solid grey;
  background-color: white;
}
.div14 img {
  padding-left: 150px;
  padding-top: 10px;
}
.div14 .div15 {
  padding-left: 70px;
  padding-top: 25px;
}
.div14 .div15 h1 {
  font-size: 25px;
  padding-bottom: 8px;
  display: inline-block;
  vertical-align: middle;
}
.div14 .fasi {
  margin-left: 100px;
}
.div14 .koka {
  margin-left: 125px;
}
.div14 .nataxtari {
  margin-left: 125px;
}
.div14 .fanta {
  margin-left: 180px;
}
.div14 .heinekeni {
  margin-left: 140px;
}
.div14 .alublis {
  margin-left: 136px;
}
.div14 .spraiti {
  margin-left: 150px;
}
.div14 .bavaria {
  margin-left: 164px;
}
.div14 .wyali {
  margin-left: 170px;
}
.div14 h4 {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.div14 .div16 {
  width: 107px;
  margin-left: 70px;
  border-radius: 25px;
  background-color: beige;
  border: 2px solid grey;
}
.div14 .div16 h4 {
  padding: 10px;
}

.sec5 {
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 10px;
}

.div17 {
  width: auto;
  border: 2px solid grey;
  border-radius: 25px;
}
.div17 h1 {
  font-size: 50px;
  padding-top: 20px;
  padding-left: 15px;
}
.div17 h2 {
  font-size: 30px;
  padding-left: 15px;
  margin-top: 50px;
  margin-bottom: 5px;
}
.div17 h3 {
  font-size: 30px;
  padding-left: 15px;
}
.div17 .div18 {
  width: 400px;
  height: 460px;
  background-color: white;
  margin-left: 7px;
  padding-left: 33px;
  border: 2px solid grey;
  border-radius: 25px;
  display: inline-block;
  vertical-align: middle;
}
.div17 .div18 .right {
  margin-right: 140px;
}
.div17 .div18 p {
  font-size: 20px;
  padding-left: 15px;
}
.div17 .div18 h2 {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 100px;
}
.div17 .div18 .div19 {
  display: inline-block;
  vertical-align: bottom;
  width: 150px;
  background-color: beige;
  border-radius: 25px;
  border: 2px solid grey;
}
.div17 .div18 .div19 h4 {
  padding: 10px;
  font-size: 30px;
}
.div17 .div20 {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 550px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 25px;
  margin-left: 7px;
}
.div17 .div20 h2 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 140px;
}
.div17 .div20 .div19 {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  border-radius: 25px;
  background-color: beige;
  border: 2px solid grey;
}
.div17 .div20 .div19 h4 {
  padding: 10px;
  font-size: 30px;
}
.div17 .div20 h2 {
  margin-top: 15px;
}
.div17 .div21 {
  display: inline-block;
  vertical-align: middle;
  width: 290px;
  height: 370px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 25px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.div17 .div21 .div19 {
  display: inline-block;
  vertical-align: bottom;
  width: 150px;
  background-color: beige;
  border-radius: 25px;
  border: 2px solid grey;
}
.div17 .div21 .div19 h4 {
  padding: 10px;
  font-size: 30px;
}
.div17 .div21 h2 {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 40px;
}

.sec6 {
  margin-left: 200px;
  margin-top: 100px;
}

.div22 {
  background-color: #A9A9A9;
  width: 1100px;
  height: 300px;
}
.div22 .div23 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 80px;
}
.div22 .div23 h1 {
  font-size: 40px;
  padding-bottom: 20px;
}
.div22 .div23 p {
  font-size: 25px;
  padding-bottom: 10px;
}
.div22 img {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 350px;
}

.sec7 {
  margin-left: 30px;
  margin-top: 20px;
}

.div25 {
  width: 1000px;
  height: 370px;
  margin: auto;
  background-color: #A9A9A9;
  border-radius: 25px;
}
.div25 p {
  margin-bottom: 20px;
  margin-left: 20px;
}

.div24 {
  background-color: beige;
  width: auto;
  margin-bottom: 10px;
}
.div24 h1 {
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 770px;
  }
  header {
    width: 100%;
  }
  .logo1 {
    padding-left: 0px;
  }
  .div5 {
    width: 100%;
    height: 140px;
  }
  .div6 {
    width: 180px;
  }
  .div1 .div3 {
    margin-left: 170px;
  }
  .sec2, .sec1 {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
  }
  .sec3 {
    margin-left: 50px;
    width: 650px;
  }
  .sec4 {
    display: block;
    margin-left: 200px;
  }
  footer {
    width: 770px;
  }
  .div10 {
    padding-left: 10px;
  }
  .div11 {
    padding-left: 10px;
  }
  .div12 {
    padding-left: 30px;
  }
  .div13 {
    padding-left: 10px;
  }
  .sec5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .div17 {
    width: auto;
  }
  .div17 .div20 {
    margin-left: 170px;
  }
  .div17 .div18 {
    margin-left: 150px;
  }
  .div17 .div21 {
    margin-left: 50px;
  }
  .sec7 {
    margin-left: 0px;
  }
  .div24 h1 {
    margin-left: 10px;
  }
  .div25 {
    width: 750px;
    height: 800px;
  }
  .div25 p {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  .sec6 {
    margin-left: 0px;
  }
  .sec6 .div22 {
    width: 769px;
  }
  .sec6 .div22 .div23 {
    margin-left: 50px;
    font-size: 20px;
  }
  .sec6 .div22 img {
    padding-left: 20px;
  }
}
.div3 :hover {
  background-color: gray;
  border-radius: 50%;
}

.div4 :hover {
  background-color: gray;
  border-radius: 50%;
}

.div9 :hover {
  background-color: orange;
  border-radius: 25px;
}

.div16 :hover {
  background-color: orange;
  border-radius: 25px;
}

.div19 :hover {
  background-color: orange;
  border-radius: 25px;
}/*# sourceMappingURL=global.css.map */