.div3 :hover{
    background-color: gray;
    border-radius: 50%;
    
}
.div4 :hover{
    background-color: gray ;
    border-radius: 50%;
}


.div9 :hover{
   
    background-color:orange ;
    border-radius: 25px;
   
}


.div16 :hover{
    background-color:orange ;
    border-radius: 25px;
}

.div19 :hover{
    background-color:orange ;
    border-radius: 25px;
}












