body{
    height: 4000px;
    width: 1519px;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 140px;
    background-color: orange;
}



.div1{
    img, p{
        @include style1;
    };
    .div3{
        border-radius: 50%;
        background-color: orange;
        width: 50px;
        height: 50px;
        @include style1;

    }
    .div4{
        border-radius: 50%;
        background-color: orange;
        width: 50px;
        height: 50px;
        @include style1;
    }
    .div3{
        margin-left: 900px;
    }
  
    
}
.div5{
    height: 65px;
    width: 1519px;
    background-color: darkred;
    display: inline-block;
 
}

.list{
    @include style1;
    font-size: 20px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div6{
    @include style1;
    width: 200px;
    padding-top: 7px;
    
 
}

.list1{
    @include style1
}

.logo1{
    padding-left: 40px;
}

.p1{
    color: azure;
    font-size: 45px;
    padding-left: 20px;
    font-family: cursive;
}

.cart{
    margin-left: 20px;
}

.background1{
    width: 100%;
    height: auto;
}

.section1{
    margin-top: 100px;
    margin-left: 100px;
}


.div7{
    img{
        @include style1;
    }
    p{
        color: darkgray;
    }
    width: 1320px;
  


}




.div8{
    @include style1;
    width: 100%;
    max-width: 253px;
    height: auto;
}

.div9{
    @include style1;
    top: 30px;
    left: 310px
   
}

.div10{
    width: 1000px;
    top: 125px;
   right: 0px;
}
























































